@{
    ViewBag.Title = "About";
}

<br /><br />
<h2>RestoGo - search restaurants web service</h2><br/>
<p>Our web service is a team project on the Developing Web Services cousre at John Abbott College.</p>
<p>To provide users with information the service use for APIs:</p>
<ol>
    <li>
        Zomato API - to find restaurants at the specific location and their additional information
    </li>
    <li>
        Google Distance API - to provide users with information about the distance and time needed to get to selected restaurant
    </li>
    <li>
        Google Geocoding API - to find coordinates for the user defined address 
    </li>
    <li>
        Bing Maps API - to show user a direction to selected restaurant
    </li>
</ol>
<br />
