@{
    ViewBag.Message = "RestoGo - contact page";
}
<br /><br />
<h3>@ViewBag.Message</h3>
<br />
<address>
    IPD12<br />
    John Abbott College
</address>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@restogo.com">Support@restogo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@restogo.com">Marketing@restogo.com</a>
</address>
<br /><br />