@using RestoGo.API
@model GoogleMatrixData
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to RestoGo!</h1>
    <p class="lead">We are working to help you to find a resto that best match your needs!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>1 - Select the parameters you need</h2>


        <p>
            Here will be controls for the restaurant API
        </p>
    </div>


</div>

@{ String[] orig = (Model.destination_addresses[0]).Split(','); }
City = @orig[0]<br />
Province = @orig[1].Substring(1, 2)<br />

@{double[] coord = (double[])ViewBag.Coord;  }
    User coordinates <br />
lat = @ViewBag.Coord[0]<br />
lng = @ViewBag.Coord[1]<br />
