@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to RestoGo!</h1>
    <p class="lead">We are working to help you to find a resto that best match your needs!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>1 - Select the parameters you need</h2>


        <p>
            Here will be controls for the restaurant API
        </p>
    </div>
   

</div>